@import 'hover.css/css/hover-min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b2b2b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bacff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bacff;
  opacity: 0.6;
}

.image {
  @apply transition duration-500 ease-in-out;
  filter: grayscale(100%);
}

.image-container:hover .image {
  filter: grayscale(0%);
}